<div class="my-4">
  <app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>
</div>

<div class="my-4">
  <h1 class="text-2xl font-bold mb-6">Your todos</h1>

  <div *ngIf="!todos.length">
    <h1 class="text-lg text-center font-bold mb-6">No todos to display</h1>
  </div>

  <div *ngFor="let todo of todos; let todoIdx = index">
    <app-todo-item
      [todo]="todo"
      [todoIdx]="todoIdx"
      (todoDelete)="deleteTodo($event)"
      (statusToggle)="toggleStatus($event)"
    ></app-todo-item>
  </div>
</div>
